
<style>
/* Datepicker popup icon */

button.calendar, button.calendar:active {
width: 2.75rem;
height: 2.35rem;
background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
background-repeat: no-repeat;
background-size: 23px;
background-position: center;
}

</style>
<div class="content" role="main">
    <div class="card highlight-card card-small">
       Konfirmasi ASURANSI JIWA
    </div>  
</div>
<p class="content"><b>Informasi</b></p>
<div class="content">
    <div *ngFor="let dataKonfirmasi of dataKonfirmasi; index as productId">
        <div> Sumber Rekening : {{ dataKonfirmasi.rekSumber }}</div>
        <div> Produk Asuransi : {{ dataKonfirmasi.produk }}</div>
        <div> uangPertanggungan : {{dataKonfirmasi.uangPertanggungan}}</div>
        <div> premi : {{dataKonfirmasi.premi}}</div>
        <div>frekuensiBayar : {{dataKonfirmasi.frekuensiBayar}}</div>
        <div>jangkaWaktu : {{dataKonfirmasi.jangkaWaktu}}</div>
        <div>masaBayarPremi: {{dataKonfirmasi.masaBayarPremi}}</div>
    </div>    
</div>
<p class="content"><b>Syarat dan Ketentuan</b></p>
<div class="content">
    <div>
        <input type="checkbox" name="syaratKententuan" value="1" checked="checked" />
        <p>Saya telah memahami dan menyetujui Syarat dan Ketentuan yang berlaku.</p>
    </div>
</div>
<p class="content"><b>Otorisasi Transaksi</b></p>
<div class="content">
    <div>OTP (One Time Password) : <input type="text" id="otp" name="otp" disabled="true" value="*******53"></div>
</div>

<div class="content">
    <div>
        <a class="card" routerLink="/JiwaPembayaran" routerLinkActive="active">Ubah</a>
      </div>
      <div>
        <a class="card" routerLink="/JiwaInformasi" routerLinkActive="active">Kirim</a>
      </div>
</div>